#home-right {
    position: absolute;
    left: 50%;
    width: 35%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-right h1 {
    align-self: center;
    text-align: center;
    font-family: 'Oxanium', sans-serif;
    font-size: 44px;
    color: brown;
    margin-bottom: 20px;
    text-decoration: underline;
}

#home-right form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#home-right form div {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

#home-right label {
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
    color: brown;
    font-weight: 900;
}

#home-right input,
#home-right textarea {
    width: 100%;
    padding: 10px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}

#home-right textarea {
    resize: vertical;
}

#home-right .btn {
    align-self: center;
    padding: 12px 25px;
    background-color: brown;
    color: whitesmoke;
    font-family: 'Oxanium', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#home-right .btn:hover {
    background-color: rgb(204, 61, 61);
    transform: scale(1.1, 1.1);
}

    /* Tablette */

@media screen and (max-width: 1024px) {

    #home-description {
        transform: scale(0.8);
    }

}

    /* Téléphone */

@media screen and (max-width: 400px) {
    #home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #home::before {
        position: fixed;
    }

    #home-right {
        position: static;
        width: 80%;
        padding: 20px;
        margin-top: 400%;
    }

    #home-right form div {
        flex-direction: column;
        gap: 10px;
    }

    #home-right input,
    #home-right textarea {
        font-size: 14px;
        padding: 8px 10px;
        width: 100%;
        max-width: 100%;
        border-radius: 5px;
        border: 1px solid whitesmoke;
        box-sizing: border-box;
    }

    #home-right h1 {
        font-size: 32px;
    }

    #home-right .btn {
        font-size: 16px;
        padding: 10px 20px;
    }
}

